---
# Front matter to process the file
---

@import "{{ site.theme }}"; // Import the base minimal theme styles

body {
  background-color: #36404A; /* Replace with your desired hex code */
  color: #ffffff;           /* Optional: Text color for contrast */
}

a {
  color: #87CEEB; /* Optional: Customize link color */
}
